[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/nano-signal-slot"]
	path = deps/nano-signal-slot
	url = https://github.com/NoAvailableAlias/nano-signal-slot.git
